<div class="grid grid-flow-row gap-4 items-start">
    <div class="grid grid-flow-col gap-4 items-start">
        <StopwatchDisplay
            @title="100ms ticks"
            @stopwatch={{this.stopwatch}}
            @start={{this.start}}
            @stop={{this.stop}}
            @reset={{this.reset}}
            @class="bg-white"
        />

        <StopwatchDisplay
            @title="1s ticks"
            @stopwatch={{this.secondWatch}}
            @start={{this.start}}
            @stop={{this.stop}}
            @reset={{this.reset}}
            @class="bg-white"
        />

        <StopwatchDisplay
            @title="5s ticks"
            @stopwatch={{this.fiveSecondWatch}}
            @start={{this.start}}
            @stop={{this.stop}}
            @reset={{this.reset}}
            @class="bg-white"
        />
    </div>

    <div class="mx-auto w-full flex flex-col items-center bg-white rounded">
        <div class="text-2xl font-bold">All stopwatches</div>
        <StopwatchControls
            @class="justify-center"
            @start={{fn (pipe
                (fn this.start this.stopwatch)
                (fn this.start this.secondWatch)
                (fn this.start this.fiveSecondWatch)
            )}}
            @stop={{fn (pipe
                (fn this.stop this.stopwatch)
                (fn this.stop this.secondWatch)
                (fn this.stop this.fiveSecondWatch)
            )}}
            @reset={{fn (pipe
                (fn this.reset this.stopwatch)
                (fn this.reset this.secondWatch)
                (fn this.reset this.fiveSecondWatch)
            )}}
        />

        <div class="text-xl flex flex-row items-center my-2">
            <label>
                Force stop/reset?
                <Input
                    class="rounded ml-2 h-6 w-6"
                    @type="checkbox"
                    @checked={{this.force}}
                />
            </label>
        </div>
    </div>
</div>