<div class={{concat "flex flex-row w-full " @class}}>
    <Button
        @label={{or @startLabel "Start"}}
        @color="green"
        @action={{@start}}
        @class="mr-1"
    />

    <Button
        @label={{or @stopLabel "Stop"}}
        @color="red"
        @action={{@stop}}
        @class="mx-1"
    />

    <Button
        @label={{or @resetLabel "Reset"}}
        @color="orange"
        @action={{@reset}}
        @type="reset"
        @class="ml-1"
    />
</div>
