<div class={{concat "flex flex-col border rounded p-2 " @class}}>
    {{#if @title}}
        <div class="font-bold text-2xl underline">
            {{@title}}
        </div>
    {{/if}}
    <div>
        <span class="font-thin">Elapsed:</span>
        <span class="font-mono">{{@stopwatch.elapsedMillis}}</span>
    </div>
    <div>
        <span class="font-thin">System Elapsed:</span>
        <span class="font-mono">{{@stopwatch.systemElapsedMillis}}</span>
    </div>
    <div>
        <span class="font-thin">Variance:</span>
        <span class="font-mono">{{@stopwatch.variance}}</span>
    </div>
    <div>
        <span class="font-thin">Ticks:</span>
        <span class="font-mono">{{@stopwatch.numTicks}}</span>
    </div>

    <StopwatchControls
        @start={{fn @start @stopwatch}}
        @stop={{fn @stop @stopwatch}}
        @reset={{fn @reset @stopwatch}}
        @class="mt-2"
    />
</div>
