<div class={{concat "flex flex-col border rounded p-2 " @class}}>
    {{#if @title}}
        <div class="font-bold text-2xl underline">
            {{@title}}
        </div>
    {{/if}}
    <div>
        <span class="font-thin">Remaining:</span>
        <span class="font-mono">{{@timer.remainingMillis}}</span>
    </div>

    <StopwatchControls
        @start={{fn @start @timer}}
        @stop={{fn @stop @timer}}
        @reset={{fn @reset @timer}}
        @resetLabel="Restart"
        @class="mt-2"
    />
</div>
