<div class="grid grid-flow-row gap-4 items-start">
    <div
        class="grid grid-flow-col grid-rows-1 gap-4 items-start"
        {{did-insert this.registerHandlers}}
    >
        <TimerDisplay
            @title="1s timer"
            @timer={{this.secondTimer}}
            @start={{this.start}}
            @stop={{this.stop}}
            @reset={{this.restart}}
            @class="bg-white"
        />
        <TimerDisplay
            @title="10s timer"
            @timer={{this.tenSecondTimer}}
            @start={{this.start}}
            @stop={{this.stop}}
            @reset={{this.restart}}
            @class="bg-white"
        />
        <TimerDisplay
            @title="1m timer"
            @timer={{this.minuteTimer}}
            @start={{this.start}}
            @stop={{this.stop}}
            @reset={{this.restart}}
            @class="bg-white"
        />
    </div>

    <div class="bg-white rounded p-2">
        <div class="underline text-2xl font-bold mb-1">Expirations</div>
        {{#each this.expirations as |expiration|}}
            <div>{{expiration}}</div>
        {{/each}}
    </div>
</div>



